.SettingsChange {
  background-color: #1e1f25;
  padding: 24px;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
}

.SettingsChange .wrapTwoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock {
  width: 60%;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl {
  background-color: #191b21;
  border-radius: 12px;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne {
  padding: 10px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Obmen1 span {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.65);
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Obmen1 .wrapInfoVal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
  cursor: pointer;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Obmen1 .wrapInfoVal span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 12px;
  margin-right: 13px;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Obmen1 .wrapInfoVal img:first-child {
  border: 2px solid #2d2f36;
  border-radius: 50%;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Max {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Max span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 214, 50, 0.8);
  padding: 8px 12px;
  border: 1px solid rgba(0, 214, 50, 0.1);
  border-radius: 11px;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Balance {
  text-align: right;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Balance span {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  color: rgba(255, 255, 255, 0.65);
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Balance h3 {
  margin: 19px 0 4px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px 0 42px;
}

.SettingsChange .wrapTwoBlock .wrapLeftBlock .change img {
  background-color: #191b21;
  padding: 12px;
  border-radius: 12px;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock {
  width: 230px;
  height: initial;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .OneEl {
  border-radius: 12px 12px 0 0;
  border: 1px solid #34384c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 17px 14px;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .OneEl .SettTrans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .OneEl .SettTrans h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.65);
  margin: 0;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .OneEl .SettTrans img {
  cursor: pointer;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .OneEl .Block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .OneEl .Block h2 {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .OneEl .Block span {
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .TwoElem {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 12px 12px;
  border: 1px solid #34384c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 16px;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .TwoElem h2 {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .TwoElem span {
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .TwoElem:hover {
  background: #191b21;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting {
  margin-top: 30px;
  border: 1px solid #34384c;
  border-radius: 12px;
  padding: 16px;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapTitl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapTitl span {
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 6px;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .SelectBut {
  margin-top: 7px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .SelectBut button {
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #34384c;
  background-color: #1d1f25;
  border-radius: 6px;
  color: white;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .SelectBut .butAS {
  border: 1px solid #00d632;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Hover */
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .titChec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .titChec span {
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 6px;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .checkboxIos {
  display: inline-block;
  height: 20;
  line-height: 28px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .checkboxIos .checkboxIosSwitch {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 34px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25%/50%;
  vertical-align: top;
  background: #0b0c0e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  vertical-align: text-bottom;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .checkboxIos .checkboxIosSwitch:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .checkboxIos input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .checkboxIos input[type="checkbox"]:checked + .checkboxIosSwitch {
  background: #00d632;
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .checkboxIos input[type="checkbox"]:checked + .checkboxIosSwitch:before {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

.SettingsChange .wrapTwoBlock .wrapRightBlock .wrapSetSetting .wrapChec .checkboxIos input[type="checkbox"]:not(:disabled) + .checkboxIosSwitch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
}

.SettingsChange .buts button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #00d632;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 18px 0;
  margin-top: 24px;
}

@media screen and (min-width: 1400px) {
  .SettingsChange {
    max-width: 1200px;
    width: 55%;
  }
}

@media screen and (max-width: 1400px) {
  .SettingsChange {
    margin-top: 27px;
    max-width: 1200px;
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .SettingsChange {
    padding: 20px;
  }
  .SettingsChange .wrapTwoBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .SettingsChange .wrapTwoBlock .wrapLeftBlock {
    width: 100%;
  }
  .SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Obmen1 span {
    font-size: 12px;
  }
  .SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Obmen1 .wrapInfoVal span {
    font-size: 16px;
  }
  .SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Max span {
    font-size: 12px;
  }
  .SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Balance span {
    font-size: 11px;
  }
  .SettingsChange .wrapTwoBlock .wrapLeftBlock .wrapfirsEl .elemOne .Balance h3 {
    font-size: 18px;
  }
  .SettingsChange .wrapTwoBlock .wrapRightBlock {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
  .buts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buts button {
    width: 100%;
  }
}
/*# sourceMappingURL=SettingsChange.module.css.map */