.wrapHead {
  background-color: #0b0c0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 36px 0 40px;
}

.wrapHead .nameProj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapHead .nameProj h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}

.wrapHead .nameProj h1:first-child {
  color: #00d632;
}

.wrapHead .nameProj h1:last-child {
  color: white;
}

.wrapHead .myBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapHead .myBlock .block1 {
  width: 122px;
  background: #1d1f27;
  border-radius: 50px;
  padding: 10px 34px 10px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 16px;
}

.wrapHead .myBlock .block1 h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.wrapHead .myBlock .block2 {
  width: 122px;
  background: #1d1f27;
  border-radius: 50px;
  padding: 10px 34px 10px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 16px;
}

.wrapHead .myBlock .block2 img:first-child {
  width: 28px;
}

.wrapHead .myBlock .block2 h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.wrapHead .myBlock .logIn {
  width: 122px;
  padding: 8px 29px;
  background-color: #1d1f27;
  border-radius: 50px;
}

.wrapHead .myBlock .logIn h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 1200px) {
  .wrapHead {
    padding: 12px 16px 0 20px;
  }
  .wrapHead .nameProj h1 {
    font-size: 20px;
  }
  .wrapHead .myBlock .block1 {
    width: 70px;
    padding: 0px 24px 0px 16px;
  }
  .wrapHead .myBlock .block2 {
    width: 70px;
    padding: 0px 24px 0px 16px;
  }
  .wrapHead .myBlock .block2 img:first-child {
    width: 20px;
  }
  .wrapHead .myBlock .logIn {
    width: 70px;
    padding: 0px 24px 0px 16px;
  }
}

.wrapMobileVersion {
  width: 100vw;
  position: fixed;
  background-color: #1d1f25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 12px 0;
}

.wrapMobileVersion .fullNAv .burgerMenu {
  cursor: pointer;
  position: relative;
  z-index: 30;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #191b21;
}

.wrapMobileVersion .fullNAv .burgerMenu .burgerMenu_lines,
.wrapMobileVersion .fullNAv .burgerMenu .burgerMenu_lines::after,
.wrapMobileVersion .fullNAv .burgerMenu .burgerMenu_lines::before {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: white;
}

.wrapMobileVersion .fullNAv .burgerMenu .burgerMenu_lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapMobileVersion .fullNAv .burgerMenu .burgerMenu_lines::before {
  content: "";
  top: -6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapMobileVersion .fullNAv .burgerMenu .burgerMenu_lines::after {
  content: "";
  top: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapMobileVersion .fullNAv .burgerMenu:hover .burgerMenu_lines {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.wrapMobileVersion .fullNAv .burgerMenu_active .burgerMenu_lines {
  background-color: transparent;
}

.wrapMobileVersion .fullNAv .burgerMenu_active .burgerMenu_lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapMobileVersion .fullNAv .burgerMenu_active .burgerMenu_lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapMobileVersion .fullNAv .boxShad_act {
  background-color: rgba(0, 0, 0, 0.596);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav {
  padding-top: 40px;
  top: 0;
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #1e1f25;
  width: 255px;
  left: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .wrapLinkBlock {
  padding-left: 15px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .wrapLinkBlock a {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: none;
  font-size: 20px;
  line-height: 120%;
  color: #767ea2;
  margin-left: 15px;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .footMobileVers {
  position: fixed;
  bottom: 0;
  margin-bottom: 5vh;
  margin-left: 15px;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .footMobileVers .imgLink img {
  margin-left: 15px;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .footMobileVers .imgLink img:first-child {
  margin: 0;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .footMobileVers .wrapButtns .blockBut {
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 78px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 31px 10px 24px;
  background-color: #191b21;
  border-radius: 50px;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .footMobileVers .wrapButtns .blockBut img:first-child {
  width: 28px;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .footMobileVers .wrapButtns .blockBut span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav .footMobileVers .wrapButtns .blockBut:first-child {
  margin-top: 24px;
}

.wrapMobileVersion .fullNAv .burgerMenu_nav_active {
  left: 0;
}

.wrapMobileVersion .lastelement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapMobileVersion .lastelement img:first-child {
  background-color: #191b21;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  border: 2px solid #21232a;
  margin-right: 20px;
}

.wrapMobileVersion .lastelement img:last-child {
  padding: 10px;
  background-color: #191b21;
  border-radius: 12px;
  width: 18px;
}
/*# sourceMappingURL=Header.module.css.map */