.tooltip {
    position: relative;
    // display: inline-block;
    // border-bottom: 1px dotted black;
    .wrapSelectLang {
        cursor: pointer;
        margin-top: 24px;
        display: flex;
        align-items: center;
        width: 78px;
        justify-content: space-between;
        padding: 10px 31px 10px 24px;
        background-color: #191b21;
        border-radius: 50px;

        .elem {
            img:first-child {
                width: 28px;
            }
            img:last-child {
                width: 9.5px;
            }
            transition: all .2s linear;
        }
        .elem.transform {
            transform: rotate(180deg);
        }
        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    .noneActiv {
        visibility: hidden;
        width: 135px;
        background-color: #0b0c0e;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 0 20px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        opacity: 0;
        transition: opacity 0.3s;
        display: flex;
        flex-direction: column;
        align-self: center;
        .wrapsButs {
            width: 61px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            align-self: center;
            margin-top: 8px;

            img {
                width: 28px;
            }
        }
        .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #0b0c0e transparent transparent transparent;
        }
    }

    .tooltiptext {
        width: 135px;
        background-color: #0b0c0e;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 0 20px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        opacity: 1;
        transition: 0.2s;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-self: center;

        .wrapsButs {
            width: 61px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            align-self: center;
            margin-top: 8px;

            img {
                width: 28px;
            }
        }
    }
    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #0b0c0e transparent transparent transparent;
    }
}

.tooltipHead {
    .wrapSelectLang {
        padding: 10px 31px 10px 24px;
        background-color: #1d1f27;
        margin: 0;
    }
    .tooltiptext {
        bottom: -273%;
    }
    .tooltiptext::after {
        top: -8%;
        left: 50%;
        transform: rotate(180deg);
    }
}

.tooltipHeadGas {
    .wrapSelectLang {
        padding: 10px 31px 10px 24px;
        background-color: #1d1f27;
        margin: 0;
    }
    .tooltiptext {
        bottom: -295%;
    }
    .tooltiptext::after {
        top: -7%;
        left: 50%;
        transform: rotate(180deg);
    }
}

// .forClose{
//     position: fixed;
//     height: 100%;
//     width: 100%;
// }
