@font-face {
    font-family: "SFPRODISPLAYMEDIUM";
    src: url("../SFPRODISPLAYMEDIUM.OTF") format("truetype");
    font-style: normal;
}

* {
    font-family: "SFPRODISPLAYMEDIUM";
}
body {
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    align-items: flex-start;
}
